<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>LIST DASHBOARD</h1>
    <table>
      <thead>
        <th>EMPLOYEE NO</th>
        <th>EMPLOYEE NAME</th>
        <th>EMPLOYEE SALARY</th>
        <th>EMPLOYEE CITY</th>

      </thead>
      {%for employee in e1%}
      <tr>
        <td>{{employee.eno}}</td>
        <td>{{employee.ename}}</td>
        <td>{{employee.esal}}</td>
        <td>{{employee.ecity}}</td>
      </tr>
      {%endfor%}
    </table>
  </body>
</html>
